EXPO_PUBLIC_API_BASE_URL = https://api-dev.u3.xyz
EXPO_PUBLIC_DEGENCAST_WEB_HOST = https://dev.degencast.wtf
EXPO_PUBLIC_DEGENCAST_FRAME_HOST = https://frame.degencast.wtf
# neynar
EXPO_PUBLIC_NEYNAR_API_HOST = https://api-dev.u3.xyz/neynar-api
EXPO_PUBLIC_FARCASTER_HUB_URL = https://api-dev.u3.xyz/hub-api
# privy
EXPO_PUBLIC_PRIVY_APP_ID = 
# 0x
EXPO_PUBLIC_ZERO_X_API_KEY = 
EXPO_PUBLIC_ZERO_X_INTEGRATOR_WALLET_ADDRESS = 
# zora
EXPO_PUBLIC_ZORA_CREATE_REFERRAL =
EXPO_PUBLIC_ZORA_CAST_NFT_CHAIN_ID = 8453
# nft storage
EXPO_PUBLIC_NFT_STORAGE_API_KEY =
# http hmac
EXPO_PUBLIC_HTTP_HMAC_KEY =
# use invite code
EXPO_PUBLIC_INVITE_ONLY = true
