EXPO_PUBLIC_PRIVY_APP_ID = cltzfzh4700pb4oq2r2xuaybc
EXPO_PUBLIC_API_BASE_URL = https://api-dev.u3.xyz
EXPO_PUBLIC_FARCASTER_API_URL = https://api.u3.xyz
EXPO_PUBLIC_FARCASTER_NETWORK = mainnet
EXPO_PUBLIC_ZERO_X_API_KEY = 9afab301-2647-442b-84b1-2433ca2f19b0
EXPO_PUBLIC_DEGENCAST_WEB_HOST = https://dev.degencast.xyz
EXPO_PUBLIC_ZERO_X_INTEGRATOR_WALLET_ADDRESS = 0xA25532B1287dEe6501fFa13Ff457fFcc9a6Ca6B0

EXPO_PUBLIC_NEYNAR_API_KEY=
EXPO_PUBLIC_FARCASTER_HUB_URL=https://hub-api.neynar.com